# Archivos de comandos de compilación
compile_commands.json
compile_commands2.json

# configuracion de qt
config.*
config.redo

# Dependencias
_deps/
lib/
libexec/
include/
modules/

# binaros
bin/
taller_client
taller_server
taller_editor
taller_tests

# qt creator
*.qmake.stash
*.pro.user*
*.autosave




# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
client.exe
server.exe

# Mac
.DS_Store
.AppleDouble
.LSOverride
._*

# Linux / Vim
.*.swp
*~

# Visual Studio
.vs/
.vscode/
*.vcxproj*
*.sln
*.user
*.suo
*.ncb
*.opendb
*.VC.db
*.pdb
*.idb
*.ipch
*.cache
*.log
*.tlog
*.lastbuildstate
*.obj
*.iobj
*.ipdb
*.dbmdl
*.VC.opendb
*.class
*.unsuccessfulbuild

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
cmake-3.27.9-linux-x86_64/
cmake-install.sh

client/Makefile
client/controllers/Makefile
client/views/Makefile
server/Makefile
tests/Makefile
editor/Makefile
common/Makefile

# Others (optional)
build/
Debug/
Release/
x64/
x86/
*.bak
*.tmp
libtaller_common.a


